*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{  
    font-size: 17px;
    line-height: 1.6;
    font-weight: 500;
    color: #444;
    margin-bottom: 12px;
}

p a {
    color: #b30073;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    transition: 0.2s;
}

p a:hover{
    background: #ffe0f5;
}

body {
    font-family: Arial, sans-serif;
    background: #fdf6ff;
    color: #333;
    padding-bottom: 40px;
}

.nav-bar {
    background: #ffccf2;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px; 
    
    border-bottom: 2px solid #ffa9e6;

    font-size: 19px;   /* AQUI FICA MAIOR */
    font-weight: bold; /* MENU MAIS BONITO */
}


.nav-bar a {
    text-decoration: none;
    color: #b30073;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 0.2s;
}

.nav-bar .usuario {
    margin-left: auto;
    color: #b30073;
    font-weight: bold;
    padding: 6px 12px;
}


.nav-bar a:hover {
    background: #ffe6f7;
}


.container{
    width: 90%;
    max-width: 1100px;
    min-height: 40vh;   
    margin: 20px auto; 
    background: #ffffff;
    padding: 25px;     
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}


.alerta {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: bold;
}

.success{ background: #e6ffe6; border-left: 6px solid #2ecc71; }
.warning { background: #fff8d9; border-left: 6px solid #f1c40f; }
.danger { background: #ffe6e6; border-left: 6px solid #e74c3c; }

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffd5f0;
    border-radius: 8px;
    margin-bottom: 12px;
    background: #fff9fd;
}

button, .btn{
    padding: 10px 16px;
    background: #ff93d6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 5px;
}

button:hover, .btn:hover{
    background: #ff73cb;
}

.btn-delete {
    background: #ff6b6b;
}

.btn-delete:hover{
    background: #e05656;
}

.btn-edit {
    background: #6bc6ff;
}

.btn-edit:hover {
    background: #4db5f7;
}

h1, h2, h3{
    color: #b30073;
    margin-bottom: 12px;
    font-weight: bold;
}

.card{
    padding: 15px;
    background: #fff4fb;
    border: 1px solid #ffd1f3;
    border-radius: 12px;
    margin-bottom: 15px;
}

li{
    margin-left: 40px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 12px;
    font-size: 17px;
}

th {
    text-align: left;
    color: #b30073;
    font-weight: bold;
}

td {
    padding-right: 25px;
}
