{% extends "base.html" %}

{% block titulo %}{{ titulo_pagina }}{% endblock %}

{% block conteudo %}
    <h1>{{ titulo_pagina }}</h1>

    <div class="card">

        <form method="POST"
              action="{% if atividade %}{{ url_for('atividades.editar', id=atividade.id) }}{% else %}{{ url_for('atividades.novo') }}{% endif %}">

            <p>
                <label for="titulo">Título:</label><br>
                <input type="text" id="titulo" name="titulo" value="{{ atividade.titulo if atividade else '' }}" required>
            </p>

            <p>
                <label for="disciplina">Disciplina:</label><br>
                <input type="text" id="disciplina" name="disciplina" value="{{ atividade.disciplina if atividade else '' }}">
            </p>

            <p>
                <label for="data_entrega">Data de Entrega:</label><br>
                <input type="date" id="data_entrega" name="data_entrega"
                       value="{{ atividade.data_entrega if atividade else '' }}" required>
            </p>

            <p>
                <label for="descricao">Descrição:</label><br>
                <textarea id="descricao" name="descricao">{{ atividade.descricao if atividade else '' }}</textarea>
            </p>
            <p>
                <label for="tipo">Tipo:</label><br>
                <select id="tipo" name="tipo" required>
                    <option value="Atividade" 
                        {% if atividade and atividade.tipo == "Atividade" %}selected{% endif %}>Atividade</option>

                    <option value="Prova" 
                        {% if atividade and atividade.tipo == "Prova" %}selected{% endif %}>Prova</option>

                    <option value="Trabalho" 
                        {% if atividade and atividade.tipo == "Trabalho" %}selected{% endif %}>Trabalho</option>
                </select>
            </p>


            <p>
                <button class="btn" type="submit">
                    {% if atividade %}Atualizar{% else %}Salvar Atividade{% endif %}
                </button>
            </p>

        </form>

    </div>

{% endblock %}
